body {
	font-family: sans-serif;	
    background-size: cover;
    background-color: #E1D3CF;
}

.container {
	width: 380px;
	margin:5% auto;
	border-radius: 25px;
	background-color: rgba(53, 52, 52, 0.1);
	box-shadow: 0 0 20px #000000;
}

.header {
	text-align: center;
	padding-top: 50px;
}

.header h1 {
	color: #312d2d;
	font-size: 2rem;
	margin-bottom: 80px;
}

.main {
	text-align: center;
}

.main input, button {
	width: 300px;
	height: 40px;
	border:none;
	outline: none;
	padding-left: 40px;
	box-sizing: border-box;
	font-size: 0.8rem;
	color: rgb(12, 14, 13);
	margin-bottom: 40px;
}

.main button {
	padding-left: 0;
	background-color: #313d52;
	letter-spacing: 1px;
    font-weight: bold;
	margin-bottom: 70px;
}

.main span {
	position: relative;
}

























