
body {
	background: linear-gradient(90deg, #6ee63f, #ee7752, #23a6d5, #23d5ab);
	background-size: 210% 210%;
}
body, topic{
    text-align: center;
    text-justify: auto;
    font-size: 3rem;
    font-family: Goudy Bookletter 1911, sans-serif;
}
.container {
    font-size: 1rem;
    position: absolute;
    left: 0px;
    width: 50%;
}
.container,button{
    cursor: pointer;
    width: 50%;
    height: 2.3rem;
    font-size: 1rem;
    margin-top: 1rem;
}

.container,input{
    width: 49%;
    height: 2rem;
}

.container2{
    font-size: 1rem;
    position: absolute;
    right: 0px;
    width: 50%;
}
.detail{
    position: absolute;
    width: 100%;
    margin-top: 20rem;
    padding-top: 2rem;
    font-size: 2rem;
}
.expenseinput{
    font-size: 1rem;

}
.expense-list{
    position: absolute;
    width: 100%;
    margin-top: 31rem;
    font-size: 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

}

table, td, tr, th{
    border: 1px solid #000;
    border-collapse: collapse;
}

.deleteBtn{
    background-color: orange;
    border: none;
    outline: none;
    padding-top: .5rem 1rem;
    color: #fff;
    border-radius: .5rem;
}