body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.display{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.5fr;
    grid-template-areas:
     "nav nav"
     "container container2"
     "detail expense-list";
     grid-gap: 0.5rem;

}

.nav{
    font-size: 3rem;
    grid-area: nav;
    text-align: center;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container{

    grid-area: container;
    text-align: center;
}
.container,button{
    cursor: pointer;
    width: 50%;
    height: 2.3rem;
    font-size: 1rem;
    margin-top: 1rem;
}
.container,input{
    width: 49%;
    height: 2rem;
}
.container2{
    grid-area: container2;
    text-align: center;
}
.detail{
    grid-area: detail;
    text-align: center;
    line-height: 3rem;
    font-size: 2rem;
    font-weight: bold;
}
.expense-list{
    grid-area: expense-list;
}

table, td, tr, th{
    border: 1px solid #000;
    border-collapse: collapse;
}
.deleteBtn{
    border: none;
    outline: none;
    color: rgb(230, 36, 36);
    border-radius: .5rem;
    width: 100%;
    height: 100%;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}