body {
	font-family: sans-serif;	
    background-size: cover;
	background-color: #ffffff;
}

.container {
	width: 30rem;
	margin:3% auto;
	border-radius: 1rem;
	background-color: rgba(165, 163, 163, 0.1);
	box-shadow: 0 0 0.8rem #272727;
}

.header {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: center;
	padding-top: 1rem;
}

.header h1 {
	color: #312d2d;
	font-size: 1.5rem;
	margin-bottom: 1rem;
	
}

.main {
	text-align: center;
	 padding-top: 1 rem ;
}

.main input, button, select {
	width: 25rem;
	height: 2.5rem;
	border:none;
	outline: none;
	padding-left: 2.5rem;
	box-sizing: border-box;
	font-size: 0.8rem;
	color: rgb(12, 14, 13);
	cursor: pointer;
}
.main input[type="submit"]{
	padding-left: 0;
	background-color: #35c754;
    font-weight: bold;
	margin-bottom: 2rem;
}

.main h2{
	color: #312d2d;
	font-size: 1rem;
	text-align: left;
	padding-left: 2.5rem;
}


.main span {
	position: relative;
}

























