.container {
	width: 45rem;
	height: 39rem;
	margin:3% auto;
	font-size: 1.2rem;
	line-height: 1.5rem;
}
.header{
	text-align: right;
	
}
.subject{
	text-align: center;
	font-weight: bold;
	padding: 1rem;
	padding-top: 1rem;
}
.footer{
	padding-top: 1rem;
	font-weight: bold;
}

.content{
	padding-top: 1rem;
	text-align: justify;
	word-spacing: 0.4rem;
}
input[type="submit"]{
	padding-left: 0;
	background-color: #35c754;
    font-weight: bold;
	margin-bottom: 2rem;
	width: 100%;
	height: 3rem;
	cursor: pointer;
}
